## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import csv of cleaned student welfare data

In [3]:
student_df_cleaned = pd.read_csv('student_welfare_cleaned.csv')

## Transform Data

In [4]:
# group by location and sum residual income

In [5]:
student_welfare_df_map = student_df_cleaned.groupby('location')['ResidualIncome'].sum()

In [6]:
student_welfare_df_map

location
Bedfordshire and Hertfordshire                       9828.0
Cheshire                                             2048.0
Cornwall and Isles of Scilly                         1074.0
Derbyshire and Nottinghamshire                      11974.0
Devon                                                -118.0
Dorset and Somerset                                 17920.0
East Anglia                                          3705.0
East Wales                                            782.0
East Yorkshire and Northern Lincolnshire             8536.0
Eastern Scotland                                     6752.0
Essex                                                9965.0
Gloucestershire, Wiltshire and Bath/Bristol area    -6288.0
Greater Manchester                                  13221.0
Hampshire and Isle of Wight                           966.0
Highlands and Islands                                3708.0
Inner London - East                                  4746.0
Kent                                                 2008.0
Lancashire                                          10921.0
Leicestershire, Rutland and Northamptonshire        14596.0
Merseyside                                          13998.0
North Eastern Scotland                               7565.0
Northern Ireland                                     8150.0
Northumberland and Tyne and Wear                    33070.0
Outer London - East and North East                  13788.0
Outer London - South                                 2180.0
Outer London - West and North West                  14972.0
Shropshire and Staffordshire                         7236.0
South Yorkshire                                      7670.0
Southern Scotland                                    3892.0
Surrey, East and West Sussex                         4284.0
Tees Valley and Durham                                390.0
West Central Scotland                                7505.0
West Midlands                                        2432.0
West Wales                                           1314.0
Name: ResidualIncome, dtype: float64

### Merge (left outer join)

In [7]:
# read all locations file

In [8]:
all_locations_df = pd.read_csv('all_locations.csv')

In [9]:
# perform merge

In [10]:
mapping_df= pd.merge(all_locations_df, student_welfare_df_map, on='location', how='left')

In [11]:
mapping_df

                                            location  ResidualIncome
0                     Bedfordshire and Hertfordshire          9828.0
1         Berkshire, Buckinghamshire and Oxfordshire             NaN
2                                           Cheshire          2048.0
3                       Cornwall and Isles of Scilly          1074.0
4                                            Cumbria             NaN
5                     Derbyshire and Nottinghamshire         11974.0
6                                              Devon          -118.0
7                                Dorset and Somerset         17920.0
8                                        East Anglia          3705.0
9                                         East Wales           782.0
10          East Yorkshire and Northern Lincolnshire          8536.0
11                                  Eastern Scotland          6752.0
12                                             Essex          9965.0
13  Gloucestershire, Wiltshire and Bath/Bristol area         -6288.0
14                                Greater Manchester         13221.0
15                       Hampshire and Isle of Wight           966.0
16    Herefordshire, Worcestershire and Warwickshire             NaN
17                             Highlands and Islands          3708.0
18                               Inner London - East          4746.0
19                               Inner London - West             NaN
20                                              Kent          2008.0
21                                        Lancashire         10921.0
22      Leicestershire, Rutland and Northamptonshire         14596.0
23                                      Lincolnshire             NaN
24                                        Merseyside         13998.0
25                            North Eastern Scotland          7565.0
26                                   North Yorkshire             NaN
27                                  Northern Ireland          8150.0
28                  Northumberland and Tyne and Wear         33070.0
29                Outer London - East and North East         13788.0
30                              Outer London - South          2180.0
31                Outer London - West and North West         14972.0
32                      Shropshire and Staffordshire          7236.0
33                                   South Yorkshire          7670.0
34                                 Southern Scotland          3892.0
35                      Surrey, East and West Sussex          4284.0
36                            Tees Valley and Durham           390.0
37                             West Central Scotland          7505.0
38                                     West Midlands          2432.0
39                                        West Wales          1314.0
40                                    West Yorkshire             NaN

## Output to csv

In [12]:
mapping_df.to_csv (r'student_mapping_completed.csv', index = False, header=True)